// Responsive sizes param
.vcex-rs-param .vcex-item {
	position: relative;
    margin-right: 10px;
    white-space: nowrap;
    float: left;
    display: inline-block;
    margin-bottom: 6px;
}

.vcex-rs-param .vcex-icon {
    display: block;
    float: left;
    width: 36px;
    height:30px;
    color: #fff;
    text-align: center;
    background: #2b4b80;
    @include border-radius( 3px 0 0 3px );
}

.vcex-rs-param .vcex-icon .dashicons {
    top: 5px;
    position: relative;
}

.vcex-rs-param .vcex-flip .dashicons {
    -ms-transform: rotate( 90deg );
    -webkit-transform: rotate( 90deg );
    transform: rotate( 90deg );
}


.vcex-rs-param .vcex-input {
    height: 30px;
    padding: 0;
    width: 60px;
    text-align: center;
    @include border-radius( 0 3px 3px 0 );
}

.vcex-rs-param .vcex-hidden {
	display: none;
}

// Button set
.vcex-button-set {
    float: left;
    height: 32px;
    line-height: 32px;
    margin: 6px 0 10px;
    background: #dcdcdc;
    @include border-radius( 3px );
}

.vcex-button-set div {
    display: block;
    float: left;
    text-transform: uppercase;
    color: #5e5e5e;
    background: #dcdcdc;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    @include transition( $transition__speed );

    &:hover {
        box-shadow: 0 2px 2px rgba(0,0,0,0.2);
        &.vcex-active {
            box-shadow: none;
        }
    }

    &.vcex-active {
        background: #2c4b7d;
        color: #fff;
    }

}


// On off switch
.vcex-ofswitch {
    float: left;
    width: 100px;
    height: 32px;
    line-height: 32px;
    margin: 6px 0 10px;
    background: #dcdcdc;
    @include border-radius( 3px );
}

.vcex-ofswitch div {
    display: block;
    float: left;
    text-transform: uppercase;
    color: #5e5e5e;
    font-size: 11px;
    font-weight: 600;
    width: 50%;
    text-align: center;
    cursor: pointer;
    @include transition( $transition__speed );

    &:hover {
        box-shadow: 0 2px 2px rgba(0,0,0,0.2);
        &.vcex-active {
            box-shadow: none;
        }
    }

    &.vcex-on {
        @include border-radius( 3px 0 0 3px );
    }

    &.vcex-off {
        @include border-radius( 0 3px 3px 0 );
    }

    &.vcex-active {
        background: #666;
        color: #fff;

        &.vcex-on {
            background: #6DAB3C;
            color: #fff;
        }

    }

}
