/*!
 Project   : Total WordPress Theme
 Purpose   : Visual Composer iFrame styles
 Author    : WPExplorer
 Theme URI : http://www.wpexplorer.com
 */body .vc_ui-help-block.vc_welcome-visible-e{display:none !important}.compose-mode .vc_element .vc_element-container,.view-mode .vc_element .vc_element-container{min-height:10px}
