/*!
 Project   : Total WordPress Theme
 Purpose   : Visual Composer iFrame styles
 Author    : WPExplorer
 Theme URI : http://www.wpexplorer.com
 */

@import "../load-helpers";

/*
 // Remove top padding in front-end editor as it's confusing
 // Causes issues with parallax and other overflowing items :(
.compose-mode .vc_vc_row>.vc_parallax,
.compose-mode .vc_vc_row>[data-vc-full-width=true],
.compose-mode .vc_vc_row_inner, .compose-mode .vc_vc_section>.vc_parallax,
.compose-mode .vc_vc_section>[data-vc-full-width=true],
.compose-mode .vc_vc_video {
	//padding-top: 0;
	//overflow: visible; // so you can see the editor buttons.
}*/

// Remove visit knowledgebase link
body .vc_ui-help-block.vc_welcome-visible-e {
	display: none !important;
}

.compose-mode .vc_element .vc_element-container,
.view-mode .vc_element .vc_element-container {
	min-height: 10px;
}
